/lib/vendor
composer.phar
.project
.settings
/cache/frontend
/cache/backend
/cache/*.cache
/log/*.log
plugins/sfPropelORMPlugin
/config/databases.yml
phing
propel-gen
propel-gen.bat
symfony
web/*Plugin